@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
:root{
  --bg-color: #4b4a47;
  --lightGray: #898988;
  --lightGreen: #e6e7e7;
  --darkColor: #1c1c1c;
  --fontIBM: 'IBM Plex Sans', sans-serif;
  --fontDmSans:'DM Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  /* 1rem = 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*Globals*/
a{
  text-decoration: none;
  font-family: var(--fontDmSans);
  color: #000;
}
.nav__menu a:hover, .nav__menu a:active{
 border-bottom: 1px solid var(--darkColor);
}
a:visited{
  color: #000;
}
h1, h2, h3, h4{
  line-height: 1.2;
  margin: 0;
  font-family: var(--fontIBM);
}
h1{
  font-size: 4.8rem;
}
h2{
  font-weight: 500;
  font-size: 3.4rem;
}
h3{
  font-weight: 500;
  font-size: 2.8rem;
}
p{
  font-size: 1.8rem;
  font-family: var(--fontDmSans);
}
svg{
  width: 2.5rem;
  height: 2.5rem;
}

/*Nav*/
.header{
  background-color: var(--lightGreen);
  padding-bottom: 1.5rem;
}
.navbar{
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--darkColor);
}
.nav__checkbox{
  display: none;
}
.nav__toggle{
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

.nav__toggle .close{
  display: none;
}
.nav__toggle .close,
.nav__toggle .menu{
  margin-top: 0.6rem;
}
.nav__menu{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 15rem;
  width: 85%;
  height: 21rem;
  gap: 3rem;
  padding: 1.5rem;
  display: none;
  background-color: lightgray;
  border-radius: 2rem;
  border: 1px solid var(--darkColor);
  font-weight: 700;
}
.nav__menu li{
  font-size: 2rem;
  list-style-type: none;
}
.nav__logo{
  font-size: 3rem;
  position: absolute;
  margin: 1.6rem;
}
#nav__checkbox:checked ~ .nav__menu{
  display: flex;
}
#nav__checkbox:checked ~ label .close{
  display: block;
}
#nav__checkbox:checked ~ label .menu{
  display: none;
}

/*HERO*/
.hero{
  height: 45vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
}

/*MAIN*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
  margin: 5rem auto;
}
.course-section{
  height: auto;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 2rem;
}
.course__img{
  width: 100%;
  height: 70%;
}
.course__icon{
  width: 100%;
  height: 100%;
}
.course__button{
  font-family: var(--fontDmSans);
  background-color: var(--bg-color);
  color: #FFF;
  padding: 1.5rem 3.5rem;
  border: none;
  font-size: 1.6rem;
}
.course__title, .main__title{
  color: var(--bg-color);
}
.course__button:hover, .course__button:active{
  background-color: var(--lightGray);
  font-weight: 700;
}


/*FOOTER*/
.footer{
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--lightGreen);
}


@media screen and (min-width: 768px) {
  /*NAV*/
  .navbar{
    padding: 0 2rem;
    justify-content: flex-start;
  }
  .nav__toggle{
    display: none;
  }
  .nav__logo{
    font-size: 3rem;
    position: inherit;
  }
  .nav__menu{
    flex-direction: row;
    top: 0;
    width: inherit;
    gap: 2.5rem;
    display: flex;
    border: none;
    border-left: 1px solid var(--darkColor);
    background-color: transparent;
    border-radius: 0;
    height: auto;
  }

  /*HERO*/
  .hero{
    margin-top: 3rem;
    height: 23vh;
  }

  /*MAIN*/
 .main__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem;
    gap: 1rem;
  }
  .course-section{
    height: 40rem;
  }

  /*FOOTER*/
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__socials svg{
    margin-left: 2rem;
  }
}

